*{
    margin: 0;
    box-sizing: border-box;
}

header{
    background: #FFF1C9;
    padding: 30px;
}

.logo{
    margin-left: 80px;
    margin-bottom: 70px;
}

.logo img{
    width: 800px;
    height: 45px;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text{
    margin-top: -70px;
    margin-left: 100px;
}

.hero-text h3{
    color: #F9B800;
}

.hero-text h1{
    font-weight: 800;
    margin-bottom: 20px;
}

.hero-text img{
    width: 140px;
    height: 30px;
}

.text-image{
    display: flex;
    justify-content: space-between;
    padding: 3px;
}

.text-image img{
    padding-right: 5px;
}

.btn-image{
    padding:30px 0px;
}

.hero-image{
    margin-top: -50px;
    padding-right: 130px;
}

.hero-image img{
    width: 420px;
    height: 420px;
}

.feature{
    background: #262626;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    padding-bottom: 50px;
}

.feature-text{
    align-items: center;
    margin-top: 180px;
    margin-left: 120px;
    max-width: 250px;
}

.feature-text h6{
    color:#F9B800;
    padding-bottom: 10px;
}

.feature-text h3{
    color: white;
    padding-bottom: 10px;
    font-weight: 600;
}

.feature-text img{
    width: 120px;
    height: 30px;
}

.feature-cards{
    margin-top: 80px;
    padding-right: 220px;
}

.feature-cards img{
    width: 350px;
    height: 420px;
}

.feedback{
    display: flex;
    justify-content: space-between;
    margin: 80px;
    background: #F9B800;
    border: solid 5px;
    border-radius: 12px
}

.feed-img{
    padding;40px;
    margin-right: 50px;
}

.feed-img img{
    width: 200px;
    height: 200px;
}

.feed-text{
    margin-top: 50px;
}

.feed-text h3{
    font-weight: 800;
    margin-bottom: 20px;
}

.feed-text p{
    font-size: 10px;
    margin-bottom: 10px;
}

.feed-text img{
    margin: 10px 0px;
    width: 44px;
}

